[DEFAULT]
# The values here override those in pbench-server-default.cfg.
# An installation will want to override at least the following:
default-host = pbench.example.com
install-dir = /opt/pbench-server

###########################################################################
## Deployment section
###########################################################################
[pbench-server]
pbench-top-dir = /srv/pbench
# Backup dir may be remote NFS mounted
pbench-backup-dir = /mnt/pbench.archive.backup
pbench-logs-dir = %(pbench-local-dir)s/logs
# Add role for sync'ing with satellites
roles = pbench-maintenance, pbench-prep, pbench-results, pbench-backup, pbench-sync-satellites
# pbench-server rest api variables
rest_port = 8001
rest_version = 1
rest_max_content_length = 100 * 1024 * 1024
rest_uri = /api/v%(rest_version)s
rest_log = %(pbench-logs-dir)s/pbench-server.log

[pbench-server-backup]
endpoint_url = <the URL of the S3 object store to be used>
access_key_id = <the S3 object store access key ID provided by an administrator>
secret_access_key = <the S3 object store secret access key provided by an administrator>
bucket_name = <the name of an S3 bucket which will contain all of the tar ball objects after they are backed up>

[Indexing]
# CHANGE ME!
# host:port - both must be specified.
server = elasticsearch.example.com:9280
index_prefix = pbench
bulk_action_count = 2000

###########################################################################
# crontab roles

# The definition of the crontab role for sync'ing satellite pbench servers.
[pbench-sync-satellites]
host = %(default-host)s
satellites = satellite-one, satellite-two
tasks = pbench-sync

# Template values for this satellite
[satellite-one]
satellite-host = satellite-one.example.com
satellite-prefix = ONE
satellite-lock = pbench-sync-satellite-%(satellite-prefix)s.lock
satellite-archive = /pbench/archive/fs-version-001
satellite-opt = /opt/pbench-server

[satellite-two]
satellite-host = satellite-two.example.com
satellite-prefix = TWO
satellite-lock = pbench-sync-satellite-%(satellite-prefix)s.lock
satellite-archive = /pbench/archive/fs-version-001
satellite-opt = /opt/pbench-server

###########################################################################
# The rest will come from the default config file.
[config]
path = %(install-dir)s/lib/config
files = pbench-server-default.cfg
