# This file describes the elements of deploying the pbench background tools.
[DEFAULT]
# cvalues here override those in pbench-server-default.cfg.
# An installation will want to override at least the following:
default-host = pbench-satellite.example.com
install-dir = /opt/pbench-server

###########################################################################
## Deployment section
###########################################################################
[pbench-server]
pbench-top-dir = /srv/pbench
# For a satellite we override the default roles to only "prep" and "results"
roles = pbench-prep, pbench-results

###########################################################################
# crontab roles
#
# For a satellite server we typically don't need to index results or handle
# sosreports, so we override the tasks to drop those two.
[pbench-results]
user = %(default-user)s
host = %(default-host)s
mailfrom = %(user)s@%(host)s
tasks = pbench-dispatch, pbench-unpack-tarballs, pbench-edit-prefixes

###########################################################################
# The rest will come from the default config file.
[config]
path = %(install-dir)s/lib/config
files = pbench-server-default.cfg
