[DEFAULT]
# The values here override those in pbench-server-default.cfg.
# An installation will want to override at least the following:
default-host = pbench-satellite.example.com
install-dir = /opt/pbench-server

###########################################################################
## Deployment section
###########################################################################
[pbench-server]
pbench-top-dir = /srv/pbench
# An example satellite might override the default roles to drop the backup role.
roles = pbench-maintenance, pbench-prep, pbench-results
# An example satellite that just syncs
dispatch-states = TO-SYNC

###########################################################################
# crontab roles
[pbench-results]
# The results role on our example satellite does not need to unpack tar balls
# cull unpacked tar balls, or index dasta, but we do need to make sure we run
# sync-cleanup.
tasks = pbench-sync-cleanup

###########################################################################
# The rest will come from the default config file.
[config]
path = %(install-dir)s/lib/config
files = pbench-server-default.cfg
