[DEFAULT]
# The values here override those in pbench-server-default.cfg.
# An installation will want to override at least the following:
default-host = pbench-satellite.example.com
install-dir = /opt/pbench-server

###########################################################################
## Deployment section
###########################################################################
[pbench-server]
pbench-top-dir = /srv/pbench
# An example satellite might override the default roles to drop the backup role.
roles = pbench-maintenance, pbench-prep, pbench-results
# An example satellite that just unpacks and syncs
dispatch-states = TO-UNPACK, TO-SYNC

###########################################################################
# crontab roles
[pbench-results]
# The results role on our example satellite does not need to copy sosreports,
# index data, or cull unpacked tar balls, but we do need to make sure we run
# sync-cleanup.  As a satellite, we also only need one process unpacking tar
# balls.
tasks = pbench-dispatch, pbench-unpack-tarballs, pbench-sync-cleanup

###########################################################################
# The rest will come from the default config file.
[config]
path = %(install-dir)s/lib/config
files = pbench-server-default.cfg
