# Change the [servers] section to the set of hosts where you want to
# install pbench-server. The various hosts can be running any
# combinations of RHEL7, RHEL8, or (supported) Fedora
# versions. Installing on more than one server (e.g.  on a master as
# well as a satellite server) is possible by overriding variables
# per host (e.g. satellite servers do not do backups, so the variable
# `configfiles' can be redefined to contain just one element).

[servers]
<pbench-server-host>
<pbench-server-satellite-host>   pbench_config_files='["pbench-server.cfg"]'

[servers:vars]
# pbench_config_url should be set once for a new environment by an administrator
# to provide access to the config files for whatever server environment(s)
# are needed.
# from where to fetch config files
pbench_config_url = http://pbench.example.com/server/config/{{ cenv }}

# list of config files to fetch
pbench_config_files = '["pbench-server.cfg", "pbench-server-backup.cfg"]'


