# Change the [servers] section to the set of hosts where you want to
# install pbench-server. The various hosts can be running any
# combinations of RHEL7, RHEL8, or (supported) Fedora
# versions. Installing on more than one server (e.g.  on a master as
# well as a satellite server) is possible by overriding variables
# per host.

[servers]
<pbench-server-host>
<pbench-server-satellite-host> cenv=satellite

[servers:vars]

# Where the RPMs are built - this is not a real account - make your own.

# This is used to create the /etc/yum.repos.d/pbench.repo file.
pbench_repo_url_prefix = https://copr-be.cloud.fedoraproject.org/results/some_fedora_copr_user

# pbench_config_url should be set once for a new environment by an administrator
# to provide access to the config files for whatever server environment(s)
# are needed.

# This tells where to fetch config files from.
pbench_config_url = http://pbench.example.com/server/config/{{ cenv }}

# List of config files to fetch.
pbench_config_files = '["pbench-server.cfg"]'
