[ndokos-pbench]
name=Copr repo for pbench owned by ndokos
baseurl=https://copr-be.cloud.fedoraproject.org/results/ndokos/pbench/epel-6-$basearch/
type=rpm-md
skip_if_unavailable=True
gpgcheck=1
gpgkey=https://copr-be.cloud.fedoraproject.org/results/ndokos/pbench/pubkey.gpg
repo_gpgcheck=0
enabled=1
enabled_metadata=1
