.profileDiv {
  margin: 16px;
  margin-left: 32px;
}
.headerDiv {
  .avatarDiv {
    width: 16%;
  }
  .avatar {
    border-radius: 50%;
  }
  .subCard {
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    border-top: 3px solid #1890ff;
    background-color: white;
  }
  .subCardContent {
    padding: 10px;
    //  background-color: red;
  }
  .subCardDiv {
    margin-top: 16px;
    margin-left: 16px;
    padding: 5px;
  }
  .detailsDiv {
    margin: 2vh;
  }
  .grid {
    margin-top: 16px;
  }
  .labelTest {
    font-size: var(--pf-global--FontSize--md);
  }
  .levelCard {
    padding: 0 2vh;
  }
  .subHeader {
    margin-left: 16px;
    font-size: var(--pf-global--FontSize--xl);
  }
  .profileBtn {
    padding: var(--pf-global--spacer--xs) var(--pf-global--spacer--md);
    margin-right: var(--pf-global--spacer--sm);
  }
  .editInput {
    max-width: 80%;
  }
  .pf-c-content {
    padding: var(--pf-global--spacer--xs) 0;
  }
}
.settings-wrapper {
  color: #6a6e73;
}
.item-container {
  padding: 2vh 0;
  .item-header {
    font-weight: 700;
  }
}

.key-management-container {
  margin-top: 2vh;
  .key-desc {
    margin-bottom: 2vh;
  }
  .heading-wrapper {
    display: flex;
    justify-content: space-between;
    .heading-title {
      font-weight: 700;
    }
  }
  .keylist-table-body {
    .key-cell {
      width: 30vw;
      overflow: hidden;
      white-space: nowrap;
      display: block;
      text-overflow: ellipsis;
    }
    .pf-c-clipboard-copy__group {
      input {
        background-color: transparent;
        border: 1px solid transparent;
      }
      button {
        background-color: transparent;
      }
      input:focus,
      input:focus-visible {
        outline: none;
      }
      button::after {
        border: 1px solid transparent;
      }
      svg {
        fill: #6a6373;
      }
    }
  }
}
