[flake8]
doctests = True
exclude=venv,.git,.tox,dist,doc,*lib/python*,*egg,build,*web-server/*,*agent/stockpile/*,agent/bench-scripts/test-bin/fio-histo-log-pctiles.py
ignore = E501, F841, F821, W503, W605
max-line-length = 88
