[flake8]
doctests = True
filename =
        *.py
        *server/bin/pbench-backup-tarballs
        *server/bin/pbench-cull-unpacked-tarballs
        *server/bin/pbench-index
        *server/bin/pbench-reindex
        *server/bin/pbench-unpack-tarballs
        *server/bin/pbench-verify-backup-tarballs
exclude = .venv,.git,.tox,dist,doc,*lib/python*,*egg,build,*web-server/*,
        *agent/bench-scripts/test-bin/fio-histo-log-pctiles.py,
        *agent/bench-scripts/tests/pbench-trafficgen/test-39.trafficgen/*,
        *agent/bench-scripts/tests/pbench-trafficgen/test-40.trafficgen/*
ignore = E121,E123,E126,E203,E226,E501,W503,E704
max-line-length = 88
