exclude .coveragerc .flake8 .gitmodules .pre-commit-config.yaml
prune .github
exclude agent/Makefile
prune agent/ansible
exclude agent/base.ut.*
prune agent/bench-scripts/test-bin
prune agent/bench-scripts/tests
exclude agent/bench-scripts/unittests
prune agent/containers
prune agent/rpm
exclude agent/test-requirements.txt
prune agent/tool-scripts/datalog/mock-bin
prune agent/tool-scripts/datalog/mock-lib
prune agent/tool-scripts/datalog/tests
exclude agent/tool-scripts/datalog/unittests
prune agent/tool-scripts/postprocess/gold
prune agent/tool-scripts/postprocess/mock-bin
prune agent/tool-scripts/postprocess/samples
exclude agent/tool-scripts/postprocess/unittests
prune agent/tool-scripts/tests
exclude agent/tool-scripts/unittests
prune agent/util-scripts/configs
prune agent/util-scripts/gold
prune agent/util-scripts/samples
prune agent/util-scripts/test-bin
exclude agent/util-scripts/unittests
prune contrib
prune docs
exclude exec-unittests
prune jenkins
prune lib/pbench.egg-info
exclude lint-requirements.txt
exclude server/Makefile
prune server/bin/gold
prune server/bin/state
prune server/bin/test-bin
prune server/bin/test-lib
exclude server/bin/unittests
prune server/bin/utils
prune server/containers
prune server/pbenchinacan
prune server/rpm
exclude server/test-requirements.txt
exclude tox.ini
prune utils
exclude server/legacy/web-server/Makefile
