[build-system]
requires = [
    "setuptools >= 46.1.3.",
    "wheel >= 0.34.2",
]
build-backend="setuptools.build_meta"

[tool.black]
skip-string-normalization = false
exclude = '''
(
fio-histo-log-pctiles.py
| binary-search.py
| profile-builder.py
| agent/stockpile
)
'''
