<!DOCTYPE html>
<html ng-app="sample">

<head>
    <title>Angular-nvD3 Line with Focus Chart</title>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bower_components/patternfly/dist/css/patternfly.min.css">
    <link rel="stylesheet" href="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.css" />
    <link rel="stylesheet" href="css/pbench_utils.css">
    <link rel="import" href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html">
    <script src="../bower_components/patternfly/components/jquery/dist/jquery.min.js"></script>
    <script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.16/angular.js" data-semver="1.2.16"></script>
    <script src="https://rawgit.com/mbostock/d3/master/d3.min.js"></script>
    <script src="js/nv.d3.js"></script>
    <script src="js/angular-nvd3.js"></script>
    <script src="js/app.js"></script>
    <script src="js/saveSvgAsPng.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>

<body ng-controller="graphControl" onload="constructChart('lineWithFocusChart', 1, 'cpu_all_cpu_busy')">
    <div class="card">
        <div id="header">
            <h2>
              cpu_all_cpu_busy
            </h2>
            <div class="dropdown button raised blue">
                ADVANCED
                <paper-ripple fit></paper-ripple>
            </div>
            <div class="wrapper">
                <div class="button raised blue" id="saveid">
                    Save Image
                    <paper-ripple fit></paper-ripple>
                </div>
                <p>Graph Type:
                    <select>
                        <option value='lineWithFocusChart' ng-model="options.chart.type">lineWithFocusChart</option>
                        <option value='lineChart' ng-model="options.chart.type">lineChart</option>
                        <option value="stackedAreaChart" ng-model="options.chart.type">stackedAreaChart</option>
                        <option value="multiBarChart" ng-model="options.chart.type">multiBarChart</option>
                        <option value="cumulativeLineChart" ng-model="options.chart.type">cumulativeLineChart</option>
                    </select>
                </p>
                <p>Height:x
                    <input type="number" ng-model="options.chart.height" />
                </p>
                <p>Width:
                    <input type="number" ng-model="options.chart.width" />
                </p>
                <p>Focus Height:
                    <input type="number" ng-model="options.chart.focusHeight" />
                </p>
                <p>Interactive:
                    <input type="checkbox" ng-model="options.chart.interactive" />
                </p>
                <p>Interactive Guideline:
                    <input type="checkbox" ng-model="options.chart.useInteractiveGuideline" />
                </p>
                <p>Show Legend:
                    <input type="checkbox" ng-model="options.chart.showLegend" />
                </p>
                <p>Force X:
                    <input type="number" ng-model="options.chart.forceX" />
                </p>
                <p>Force Y:
                    <input type="number" ng-model="options.chart.forceY" />
                </p>
                <p>Focus Force X:
                    <input type="number" ng-model="options.chart.lines2.forceX" />
                </p>
                <p>Focus Force Y:
                    <input type="number" ng-model="options.chart.lines2.forceY" />
                </p>
            </div>
        </div>
        <div id="chart1">
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
</body>

</html>