Name:           pbench-server
Version:        {{ version }}
Release:        {{ seqno }}{{ gdist }}
Summary:        The pbench server bits

License:        GPLv3+
URL:            http://github.com/distributed-systems-analysis/pbench
Source0:        pbench-server-%{version}.tar.gz
Buildarch:      noarch


Requires: python3 python3-devel gcc

# policycoreutils for semanage and restorecon - used in pbench-server-activate-create-results-dir
Requires:       policycoreutils
%if 0%{?rhel} != 7
Requires: policycoreutils-python-utils
Requires: libselinux-python3
%else
Requires: policycoreutils-python
Requires: python3-libselinux
%endif

Requires: npm

# installdir has to agree with the definition of install-dir in
# pbench-server.cfg, but we can't go out and pluck it from there,
# because we don't know where the config file is. Note that we omit
# the initial / - it is added in every use below.  IMO, that's more
# readable since it appears in the middle of the path in all cases,
# *except* in the %files section (and one instance in the %post
# and %postun sections).

%define installdir opt/pbench-server
%define static html/static

%define __python python3

%description
The pbench server scripts.

%prep

%setup

%build

%install
rm -rf %{buildroot}

mkdir -p %{buildroot}/%{installdir}
cp -a ./server/* %{buildroot}/%{installdir}

mkdir -p %{buildroot}/%{installdir}/%{static}
cp -a ./web-server/* %{buildroot}/%{installdir}/%{static}

# for the npm install below
mv %{buildroot}/%{installdir}/%{static}/package.json %{buildroot}/%{installdir}

%post
# Install python dependencies
echo "pip3 install -r /%{installdir}/requirements.txt"
pip3 install -r /%{installdir}/requirements.txt

# install node.js modules under /%{installdir}
cd /%{installdir}
rm -rf node_modules
npm install

# this only handles v0.3
# AFAIK, we don't need all the other modules that package.json includes.
jslist="node_modules/d3/d3.min.js
        node_modules/d3-queue/build/d3-queue.min.js
        node_modules/save-svg-as-png/lib/saveSvgAsPng.js"

# Copy them to the appropriate directory for v0.3. That
# directory should exist already because of the `cp -a'
# of the web-server stuff above, but add an explicit
# mkdir just in case, although it should be a no-op.
mkdir -p /%{installdir}/%{static}/js/v0.3
for x in ${jslist} ;do
    cp $x /%{installdir}/%{static}/js/v0.3
done

# Finally, make sure the installation directory is entirely owned
# by the pbench user.
chown -R pbench.pbench /%{installdir}

%preun

%postun
# if uninstalling, rather than updating, remove everything
if [ $1 -eq 0 ] ;then
    crontab=/%{installdir}/lib/crontab/crontab
    if [ -f $crontab ] ;then
        crontab -u pbench -r
    fi
    rm -rf /%{installdir}
fi

%posttrans

%files

%defattr(644, pbench, pbench, 755)
/%{installdir}/VERSION
/%{installdir}/SEQNO
/%{installdir}/SHA1
/%{installdir}/package.json
/%{installdir}/requirements.txt

# pbench-base.sh %attr overrides previous /bin %attr
%attr(755, pbench, pbench) /%{installdir}/bin
%attr(644, pbench, pbench) /%{installdir}/bin/pbench-base.sh

# service script %attr overrides %defattr on later /lib
%attr(755, pbench, pbench) /%{installdir}/lib/systemd/pbench-server.service
/%{installdir}/lib
/%{installdir}/%{static}

%doc
/%{installdir}/lib/pbench/server/s3backup/README
/%{installdir}/lib/pbench/common/AUTHORS.log_formatter
/%{installdir}/lib/pbench/common/LICENSE.log_formatter
/%{installdir}/%{static}/css/v0.3/LICENSE.TXT
/%{installdir}/%{static}/js/v0.3/LICENSE.TXT
