/* pbench_utils.css v0.2 */
body {
  overflow-y: scroll;
  background: #fff;
}
text {
  font: 12px sans-serif;
}
div.chart {
  margin-top: 6px;
  padding: 4px;
  border-style: solid;
  border-width: 2px;
}
.chart svg {
  height: 150px;
}
.chart-header, .page-header, .chart-reason {
  text-align: center;
}
