.chart-container {
  width: 100%;
  padding: 1vh;
  .pf-c-sidebar__panel {
    padding: 1vh;
    margin-right: 2.5vh;
  }
  .pf-c-sidebar {
    .sidepanel-heading-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1vh;
    }
    .pf-c-text-input-group {
      width: 22vw;
      margin-top: 1vh;
    }
    .heading {
      margin-bottom: 0.5vh;
      font-weight: 600;
    }
    .dataset-item {
      padding-top: 15px;
    }
    .active-item {
      border-left: 4px solid #06c;
      padding-left: 10px;
      padding-bottom: 10px;
      margin-left: 0px;
      background-color: #f0f0f0;
      margin-top: 0;
    }
    .datasets-container {
      height: 80vh;
      overflow-y: auto;
      overflow-x: hidden;
      width: 22vw;
      padding-top: 1.5vh;
    }
    .dataset-list-checkbox {
      padding-left: 24px;
      .pf-c-check {
        padding-top: 15px;
        border-bottom: 1px solid #d2d2d2;
        padding-bottom: 10px;
      }
    }
  }
  .chart-card {
    display: flex;
    justify-content: center;
    height: 33vh;
    .expand-icon-container {
      display: flex;
      justify-content: flex-end;
      .icon-wrapper {
        padding: 10px 10px 0;
        cursor: pointer;
        svg {
          fill: #6a6e73;
        }
      }
    }
  }
  .heading-container {
    padding: 2vh 2vh 0;
    font-weight: bold;
  }
  .header-separator {
    margin: 5px 0 15px;
  }
  .chart-holder {
    height: 100%;
    width: 100%;
    canvas {
      margin: 0 auto;
      text-align: center;
    }
  }
}
.dataset-item:hover {
  cursor: pointer;
}
.chart-expand-modal-container {
  .pf-c-modal-box__body {
    margin-right: 0 !important;
  }
  .chart-modal-wrapper {
    display: flex;
    justify-content: space-between;
    .modalBtn {
      display: flex;
      align-items: center;
    }
  }
}
