.main-with-spinner {
    position: relative;
    overflow: auto;
    height: auto;
    width: auto;
    .spinner-container {
        width: 15%;
        height: 15%;
        position: absolute;
        top: 25%;
        left: 30%;
        z-index: 9999;
    }
}
  