.main-page-container {
    position: relative;
    height: 100%;
    .spinner-container {
        width: 15%;
        height: 15%;
        position: absolute;
        top: 30%;
        left: 30%;
        z-index: 9999;
    }
}
.main-with-spinner {
    pointer-events: none;
    height: 100%;
}