[pcp-rpm-release]
name=pcp-rpm-release
baseurl=https://performancecopilot.jfrog.io/artifactory/pcp-rpm-release/{{ distro }}/{{ version }}/x86_64
enabled=1
gpgcheck=0
gpgkey=https://performancecopilot.jfrog.io/artifactory/pcp-rpm-release/{{ distro }}/{{ version }}/x86_64/repodata/repomd.xml.key
repo_gpgcheck=1
