---
repos:
  - tag: {{ name }}
    user: {{ user }}
    baseurl: "{{ url_prefix }}/{{ name }}/{{ distro }}-$basearch"
    gpgkey: "{{ url_prefix }}/{{ name }}/pubkey.gpg"
    gpgcheck: 1
    enabled: 1
  - tag: pbench
    user: {{ user }}
    baseurl: "{{ url_prefix }}/pbench/{{ distro }}-$basearch"
    gpgkey: "{{ url_prefix }}/pbench/pubkey.gpg"
    gpgcheck: 1
    enabled: 1
