---
repos:
  - tag: pbench
    baseurl: "{{ url_prefix }}/pbench{{ test_suffix }}/{{ distro }}-$basearch"
    gpgkey: "{{ url_prefix }}/pbench{{ test_suffix }}/pubkey.gpg"
    gpgcheck: 1
    enabled: 1
