---
repos:
  - name: {{ name }}
    user: {{ user }}
    baseurl: "{{ url_prefix }}/{{ name }}/{{ distro }}-$basearch"
    gpgkey: "{{ url_prefix }}/{{ name }}/pubkey.gpg"
    gpgcheck: 1
    enabled: 1
