[DEFAULT]
pbench_install_dir = /opt/pbench-agent
# CHANGE ME!
pbench_results_redirector = pbench.results.example.com
# CHANGE ME!
pbench_web_server = pbench.example.com

[config]
path = %(pbench_install_dir)s/config
files = pbench-agent-default.cfg
