[DEFAULT]
version = 002

[results]
user = pbench
host_path = http://%(pbench_result_redirector)s/pbench-archive-host
webserver = %(pbench_web_server)s
host_info_url = http://%(webserver)s/pbench-results-host-info.versioned/pbench-results-host-info.URL002
dir = /srv/pbench/public_html/incoming
scp_opts = -o StrictHostKeyChecking=no
ssh_opts = -o StrictHostKeyChecking=no

[pbench-agent]
install-dir = %(pbench_install_dir)s
pbench_user = pbench
pbench_group = pbench
pbench_run = /var/lib/pbench-agent
pbench_log = %(pbench_run)s/pbench.log

[pbench/tools]
default-tool-set = sar, iostat, mpstat, pidstat, proc-vmstat, proc-interrupts, turbostat
interval = 3

[tools/pidstat]
interval = 30

[packages]

[pbench-fio]
version = 3.3
histogram_interval_msec = 10000

[stockpile]
# stockpile_path, stockpile_log and stockpile_output_path are 
# optional variables. stockpile_path is set to $pbench_install_dir defined 
# in the config, stockpile_log and stockpile_output_path are set to 
# sysinfo dir being used for that particular run.
stockpile_user = root
local_remote_user = root
host_remote_user = root
stockpile_path =
stockpile_log =
stockpile_output_path =
