###########################################################################
# pbench "official" repo
[copr-pbench-server]
name=Copr repo for pbench-server
baseurl={{ baseurl }}
skip_if_unavailable=True
gpgcheck= {{ gpgcheck }}
gpgkey={{ gpgkey }}
enabled=1
enabled_metadata=1
skip_if_unavailable=1
