body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

ul > li {
  list-style-type: none;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #F5F5F5 #a39f9f;
}
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #a39f9f;
}
