# This file describes the elements of deploying the pbench background tools.
[DEFAULT]
# cvalues here override those in pbench-server-default.cfg.
# An installation will want to override at least the following:
mailto = admins@example.com
default-host = pbench.example.com

# Backup dir may be remote
deploy-backup-host = pbench-backup.example.com
deploy-pbench-backup-dir = %(default-user)s@%(deploy-backup-host)s:/pbench-local/archive.backup

###########################################################################
## deployment section
###########################################################################
[pbench-server]
# we now index status into ES, but in some cases we might still want to use mail.
use-mail-for-status = yes
roles = pbench-results, pbench-backup

# the rest will come from the default config file.
[config]
paths = /opt/pbench-server/lib/config
files = pbench-server-default.cfg
