[Unit]
Description=pbench daemon
After=sshd.service

[Service]
EnvironmentFile=/root/vars
ExecStart=/root/script.sh
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
