alembic>=1.9.0
aniso8601>=9.0.1
Bcrypt-Flask
click>=8.0
elasticsearch>=7.13.1, <7.14
flask
flask_cors
Flask-HTTPAuth>=4.0.0
flask-jwt-extended
flask-migrate
flask-restful>=0.3.9
flask-sqlalchemy
gunicorn
humanize
psycopg2
pyesbulk>=2.0.1
PyJwt[crypto]
python-dateutil
requests
sqlalchemy>=1.4.23
sqlalchemy_utils>=0.37.6
