alembic>=1.6.4
aniso8601>=9.0.1
Bcrypt-Flask
boto3
click>=8.0
elasticsearch>=7.13.1, <7.14
email-validator>1.1.1
flask
flask_cors
Flask-HTTPAuth>=4.0.0
flask-jwt-extended
flask-migrate
flask-restful>=0.3.9
flask-sqlalchemy
gunicorn
humanize
psycopg2
pyesbulk>=2.0.1
PyJwt
python-dateutil
requests
sqlalchemy>=1.4.23
sqlalchemy_utils>=0.37.6
