alembic>=1.6.4
aniso8601>=9.0.1
boto3
click>=8.0
python-dateutil
elasticsearch>=7.13.1, <7.14
email-validator>1.1.1
flask
flask-bcrypt
Flask-HTTPAuth>=4.0.0
flask-restful>=0.3.9
flask_cors
flask-jwt-extended
flask-sqlalchemy
flask-migrate
gunicorn
humanize
pyesbulk>=2.0.1
PyJwt
psycopg2
requests
selinux
sqlalchemy>=1.4.23
sqlalchemy_utils>=0.37.6
