.main-container {
    position: relative;
    .login-page {
        .login-footer-btn-wrapper {
            width: 100%;
            margin: 2vh 0;
            
            button {
                width: 100%;
            }
        }
        .password-holder {
            display: flex;
        }
        .logo {
            width: 75px;
        }
        .sideGridItem {
            margin-top: 5vh;
            color: #FFFFFF;
        }
        .login-right-component {
            position: relative;
        }
        .pf-c-card {
            padding: 2vh 0;
        }
        .continueBtn {
            padding: inherit;
        }
        .signup-card {
            height: 80%;
            overflow-y: scroll;
            padding: 0 2vh; 

            .contraints-container {
                padding: 1vh;
                .pf-c-helper-text__item-icon {
                    margin-right: 1vw;
                }
                .pf-c-helper-text__item-text {
                    color: #151515;
                }
            }
            .button-wrapper {
                margin: 1vh 0;
            }
            .error {
                color: red;
                font-size: var(--pf-global--FontSize--sm);
            }            
        }
        .orText {
            padding: 1vh;
        }
       .text-center {
            text-align: center;
        }

    }
    .auth-card {
        .pf-c-card__body {
            padding: 0;
        }
        .button-wrapper {
            width: 100%;
            margin: 2vh 0 4vh;
            padding: 0 24px;

            button {
                width: 100%;
            }
        }
        .account-wrapper {
            text-align: center;
            padding: 2vh 0;
            background: #F0F0F0;
            max-height: 20vh;
            height: 15vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .log-in-alternate {
            text-align: center;
            margin-top: 3vh;
        }
        .alternate-btn-wrapper {
            button {
                width: 100%;
                margin: 2vh 0;
            }
        }
    }
}

