install-dir = %(unittest-dir)s/opt/pbench-server
default-host = pbench-satellite-error.example.com

[logging]
logging_level = WARNING

[satellite-one]
# NOTE WELL: this satellite host name, pbench-satellite.example.com, is the
# host name expected by the mock ssh command which triggers the behavior of
# running the actual commands instead of just echoing them.
satellite-host = pbench-satellite-error.example.com

###########################################################################
# The rest will come from the global state config file and the default config file.
[config]
path = %(unittest-dir)s/tmp, %(install-dir)s/lib/config
files = state-pbench-server.cfg
