[DEFAULT]
# The values here override those in pbench-server-default.cfg.
default-host = the.container.build.will.replace.this
install-dir = /opt/pbench-server

###########################################################################
## Deployment section
###########################################################################
[pbench-server]
pbench-top-dir = /srv/pbench
pbench-backup-dir = %(pbench-top-dir)s/pbench.archive.backup
environment = container
#realhost = ip-127.0.0.1
max-unpacked-age = 36500
maximum-dataset-retention-days = 36500
default-dataset-retention-days = 730
# Override the roles this pbench server takes on -- omit pbench-prep.
roles = pbench-maintenance, pbench-results, pbench-backup

[Indexing]
index_prefix = container-pbench
bulk_action_count = 2000

[elasticsearch]
host = pbenchinacan
port = 9200

[Postgres]
db_uri = postgresql://pbenchcontainer:pbench@pbenchinacan/pbenchcontainer

# User authentication section to use when authorizing the user with an OIDC identity provider
[authentication]

# URL of the OIDC auth server with port
server_url = http://localhost:8090

# URL of the OIDC auth server with port for pbench server service
internal_server_url = http://localhost:8080

# Realm name that is used for the authentication with OIDC
realm = pbench

# Client entity name requesting OIDC to authenticate a user
client = pbench-client

# Client secret if the above client is not public
secret = <keycloak_secret>

# FIXME:  Do we need a [sosreports] section?

###########################################################################
# crontab roles

###########################################################################
# The rest will come from the default config file.
[config]
path = %(install-dir)s/lib/config
files = pbench-server-default.cfg
