# Pbench development image Template
#
# We maintain this image with all the necessary user-space setup required to
# run the various unit tests and functional tests in a common development
# environment.  However, in certain instances, the tests require specific
# versions of software packages (Black and Flake8 being notable examples), and
# these cannot always be satisfied by the RPMs available from the
# distribution.  In these cases, we expect the packages to be installed at
# run-time.  Nevertheless, in order to avoid run-time installations where
# possible, we install indirect dependencies of the run-time installations
# below, as well.
#
# The image is published to https://quay.io/pbench/pbench-devel-<distro> (see
# jenkins/Makefile for the <distro> options) and "tagged" using the branch name
# in which it was built (e.g. `main`, `b0.70`, `b0.71`, etc.).
#
# NOTE WELL: The Fedora based image has no entry point, but the UBI based
# image inherits its entry point from the UBI base image -- /sbin/init --
# which allows systemctl-enabled daemons to run automatically.
#
# WARNING: Do not publish images layered on top of UBI images.
#
# You can use this image to run our development environment from a command
# line, e.g.:
#
#  $ podman run -it --rm pbench-devel-<distro>:<branch name> /bin/bash
#
# which will allow you to run a Fedora- or UBI-based pbench development
# environment. Or you can use this image as a base image, and build another
# image on top of it to run your own end-points.
#
# Also note that the pbench sources are not built into the image.  Instead
# they should be mounted as a local directory, e.g., /src/pbench, using an
# external directory [1] containing the source tree.
#
# Build the image using (see jenkins/Makefile):
#
#   $ buildah bud -f development.Dockerfile -t pbench-devel-<distro>:<branch name>
#
# Run tests using (see jenkins/run and jenkins/Pipeline.gy):
#
#   $ podman run -it --userns=keep-id --volume $(pwd):/src/pbench:z \
#     --rm localhost/pbench-devel-<distro>:<branch name> tox
#
# [1] See https://www.redhat.com/sysadmin/user-flag-rootless-containers

FROM {{ base_image_ref }}

RUN \
{%- if hosts_file_url %}
    curl -sSk -o /etc/build.hosts {{ hosts_file_url }} && \
    cat /etc/build.hosts >> /etc/hosts && \
{% endif %}
{%- if repo_file_url %}
    curl -sSk -o /etc/yum.repos.d/build.repo {{ repo_file_url }} && \
{% endif %}
    dnf install -y {% if ubi %}--nogpgcheck{% endif %}\
        `#` \
        `# Install Agent dependencies` \
        `#` \
        `# This list should be generated via 'dnf -q repoquery --requires <RPM>'` \
        `# using the Agent RPM.  Then, if a 'pip3 install -r requirements.txt'` \
        `# shows any missing dependencies they should be added to the RPM spec` \
        `# file and this list should be regenerated.` \
        `#` \
        ansible \
        bc \
        bzip2 \
        hostname \
        iproute \
        iputils \
        net-tools \
        openssh-clients \
        openssh-server \
        perl \
        perl-Data-UUID \
        perl-JSON \
        perl-JSON-XS \
        perl-Time-HiRes \
        procps-ng \
        psmisc \
        python3 \
{%- if not ubi %}
        python3-bottle \
{%- endif %}
        python3-cffi \
        python3-click \
        python3-daemon \
{%- if ubi %}
        python3-docutils \
{%- endif %}
        python3-jinja2 \
        python3-pip \
        python3-psutil \
        python3-redis \
        python3-requests \
        python3-sh \
        redis \
        rpmdevtools \
        rsync \
        screen \
        sos \
        tar \
        xz \
        \
        `#` \
        `# Install Server dependencies` \
        `#` \
        `# This list should be generated via 'dnf -q repoquery --requires <RPM>'` \
        `# using the Server RPM.  Then, if a 'pip3 install -r requirements.txt'` \
        `# shows any missing dependencies they should be added to the RPM spec` \
        `# file and this list should be regenerated.` \
        `#` \
        cronie \
        libpq-devel \
        npm \
        policycoreutils \
        policycoreutils-python-utils \
        python3 \
        python3-alembic \
        python3-aniso8601 \
        python3-bcrypt \
        python3-boto3 \
        python3-certifi \
        python3-click \
        python3-dateutil \
        python3-devel \
        python3-elasticsearch \
        python3-email-validator \
        python3-flask \
        python3-flask-cors \
{%- if not ubi %}
        python3-flask-httpauth \
{%- endif %}
        python3-flask-migrate \
        python3-flask-restful \
        python3-flask-sqlalchemy \
        python3-greenlet \
        python3-gunicorn \
        python3-humanize \
        python3-libselinux \
        python3-psycopg2 \
        python3-requests \
        python3-sqlalchemy \
{%- if not ubi %}
        python3-sqlalchemy-utils \
{%- endif %}
        \
        `#` \
        `# Install common lint and testing dependencies` \
        `#` \
        python3-appdirs \
        python3-attrs \
        python3-entrypoints \
        python3-mccabe \
        python3-pathspec \
        python3-pycodestyle \
        python3-regex \
        python3-toml \
        python3-typed_ast \
        tox \
        \
        `#` \
        `# Install Agent testing dependencies` \
        `#` \
        parallel \
        python3-coverage \
        python3-GitPython \
        python3-mock \
        python3-pytest \
        python3-pytest-cov \
{%- if not ubi %}
        python3-pytest-helpers-namespace \
{%- endif %}
        python3-pytest-mock \
        python3-responses \
        python3-tox-current-env \
        python3-pytest-xdist \
        \
        `#` \
        `# These two packages are dependencies of the pip-installed PyTest` \
        `# package; when we switch to the RPM-installed version, we should` \
        `# drop them.` \
        `#` \
        python3-atomicwrites \
        python3-wcwidth \
        \
        `#` \
        `# Install Server testing dependencies` \
        `#` \
        parallel \
        python3-coverage \
        python3-GitPython \
        python3-mock \
        python3-pytest \
        python3-pytest-cov \
{%- if not ubi %}
        python3-pytest-helpers-namespace \
{%- endif %}
        python3-pytest-mock \
        python3-requests-mock \
        python3-responses \
        python3-tox-current-env \
        python3-pytest-xdist \
        \
        `#` \
        `# Install Docs dependencies` \
        `#` \
        python3-sphinx \
        \
        `#` \
        `# Install utilities for building RPMs, evaluating test results, etc.` \
        `#` \
        copr-cli \
        diffutils \
        git \
        less \
{%- if not ubi %}
        python3-jinja2-cli \
{%- endif %}
        python3-wheel \
        rpmlint \
        rpm-build \
        sqlite \
        time \
        && \
    \
    `#` \
    `# Save space in the container image.` \
    `#` \
    dnf -y clean all && rm -rf /var/cache/dnf
