.overview-container {
    height: 100%;
    padding: 2vh;
   .bordered {
       border: 1px solid #D2D2D2;
   }
   .expiring-container {
       padding: 2vh;
       button {
           padding: 0;
       }
       .no-runs-wrapper {
           color: #6A6E73;
       }
   }
   .saved-runs-container {
       padding: 2vh;
   }
   .new-runs-container {
       padding: 2vh;
       height: 45vh;
       .newruns-heading-container {
           display: flex;
           justify-content: space-between;
           margin-bottom: 1.5vh;
       }
       .newruns-table-container {
            height: 90%;
            .pf-c-scroll-outer-wrapper {
                min-height: 100%;
            }
            .unseen-row {
                background-color: #efefef;
            }
        }
   }
}
.separator {
    margin: 2vh 0;
}
