# copy to: /etc/systemd/system/pbench-server.service
# and run: systemctl daemon-reload
# enable: systemctl enable pbench-server
# start: systemctl start pbench-server

[Unit]
Description = Pbench Daemon
Documentation = https://github.com/distributed-system-analysis/pbench
After=network.target httpd.service

[Service]
Type = simple
User = pbench
Group = pbench
RuntimeDirectory = pbench-server
PIDFile = /run/pbench-server/gunicorn.pid
ExecStart = /bin/bash -c 'PATH=${PATH}:$(python3 -m site --user-base)/bin /opt/pbench-server/bin/pbench-server'
ExecStop = /bin/kill -s TERM $MAINPID
Restart = always
StartLimitInterval = 60
StartLimitBurst = 10
Environment="_PBENCH_SERVER_CONFIG=/opt/pbench-server/lib/config/pbench-server.cfg"

[Install]
WantedBy = multi-user.target
