# copy to: /etc/systemd/system/pbench-server.service
# and run: systemctl daemon-reload
# enable: systemctl enable pbench-server
# start: systemctl start pbench-server

[Unit]
Description = Pbench Daemon
Documentation = https://github.com/distributed-system-analysis/pbench
After=network.target httpd.service

[Service]
Type = notify
NotifyAccess = all
User = pbench
Group = pbench
RuntimeDirectory = pbench-server
Environment = _PBENCH_SERVER_CONFIG=/opt/pbench-server/lib/config/pbench-server.cfg
KillSignal = TERM
ExecStart = /opt/pbench-server/bin/pbench-server
Restart = always
RestartSec = 30
StartLimitInterval = 600
StartLimitBurst = 10

[Install]
WantedBy = multi-user.target
