[Unit]
Description=Pbench Server indexer timer
After=pbench-server.service
Requires=pbench-index.service
BindsTo=pbench-server.service

[Timer]
Unit=pbench-index.service
OnUnitActiveSec=240
OnCalendar=*-*-* *:*:15

[Install]
WantedBy=timers.target
