default-host = pbench-satellite.example.com
install-dir = %(unittest-dir)s/opt/pbench-server-satellite

###########################################################################
## Deployment section
###########################################################################
[pbench-server]
pbench-top-dir = %(unittest-dir)s/pbench-satellite
pbench-local-dir = %(unittest-dir)s/pbench-satellite-local
# An example satellite might override the default roles to drop the backup role.
roles = pbench-maintenance, pbench-prep, pbench-results
# An example satellite that just unpacks and syncs
dispatch-states = TO-UNPACK, TO-SYNC
# This has to be set to the same value as what the mock'd "hostname"
# command returns.
realhost = pbench.example.com
# Unit test environment configuration values
debug_unittest = True
commit_id = unit-test
environment = unit-test
admin-email = unit-test-user@example.com

[apache]
documentroot = %(unittest-dir)s/var-www-html-satellite

[logging]
logger_type = file
logging_level = DEBUG
log_format = 1970-01-01T00:00:42.000000 {levelname} {name}.{module} {funcName} -- {message}

###########################################################################
# crontab roles
[pbench-results]
# The results role on our example satellite does not need to copy sosreports,
# index data, or cull unpacked tar balls, but we do need to make sure we run
# sync-cleanup.  As a satellite, we also only need at most one process
# unpacking tar balls.
tasks = pbench-dispatch, pbench-unpack-tarballs, pbench-sync-cleanup

###########################################################################
# The rest will come from the default config file.
[config]
path = %(install-dir)s/lib/config
files = pbench-server-default.cfg
