table th
{
   border-top: 1px solid #d2d2d2;
}
.sidebar{
height: 100vh;
}

.controllerListButton,.favoriteListButton{
 margin-top: 3vh;
 margin-bottom: 2vh;
}

.filterContainer{
 display: flex;
 margin-right: 10px;
}
