// .item {
//     width: 100%
//   }

//   .container {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .container > div {
//     flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
//     /*demo*/
//     box-shadow: 0 0 0 1px black;
//     margin-bottom: 10px;
//   }

//   .item canvas {
//     width: 550px !important;
//     height: 550px !important;
//     text-align: center;
//     margin: 0 auto;
// }

// .galleryItem {
//   width: 500px;
//   height: 500px;
//   margin: 0 auto;
//   text-align: center;
// }

.chart-container {
  width: 100%;
  padding: 1vh;
  .pf-c-sidebar__panel {
    padding: 1vh;
    margin-right: 2.5vh;
  }
  .pf-c-sidebar {
    .heading {
      margin-bottom: 0.5vh;
      font-weight: 600;
    }
    .dataset-item {
      padding-top: 15px;
    }
    .active-item {
      border-left: 4px solid #06c;
      padding-left: 10px;
      margin-left: 0px;
      background-color: #f0f0f0;
      margin-top: 0;
    }
  }
  .chart-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
  }
  .heading-container {
    padding: 2vh 2vh 0;
    font-weight: bold;
  }
  .header-separator {
    margin: 5px 0 15px;
  }
  .chart-holder {
    height: 100%;
    width: 100%;
    canvas {
      margin: 0 auto;
      text-align: center;
    }
  }
}
.dataset-item:hover {
  cursor: pointer;
}
