# Users should copy the site-specific file and modify *only* the
# first section by adding their hosts. They may also need to
# provide host-specific variables to deal with problems (e.g ATM,
# a F30 host needs to have the `ansible_python_interpreter' variable
# to /usr/bin/python3 in order for things to work - see host3 below
# as an example.)
[servers]
host1
host2
host3       ansible_python_interpreter=/usr/bin/python3

# This section contains site-specific variables. An admin should
# modify these settings and provide the resulting file as a site-specific
# example. Users should *NOT* have to modify this section at all.
[servers:vars]
keyurl = http://pbench.example.com/keys/id_rsa
keydest = /opt/pbench-agent/
configurl = http://pbench.example.com/config/pbench-agent.cfg
configdest = /opt/pbench-agent/config/
owner = pbench
group = pbench
