#rootMenu {
    width: 500px;
    height: 100%;
    box-shadow: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.toc {
    display: flex;
}

.active {
    background-color: #b3cde0;
}

.dropDown {
    position: absolute;
    left: 100%;
    background-color: blanchedalmond;
}

.tableTOC {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 2vw;
}

.searchTOCContainer {
    display: flex;
    flex-flow: row-reverse;
}

.tocBody {
    margin-top: 0.5vw;
}

.searchInputGroup {
    width: 25vw !important;
}

.spinner {
    position: absolute;
    top: 25%;
    left: 50%;
    height: 100%;
    width: 100%;
    color: aqua;
}
