###########################################################################
# External COPR repo
[copr-pbench-test]
name=Copr test repo for pbench
baseurl={{ testbaseurl }}
skip_if_unavailable=True
gpgcheck= {{ gpgcheck }}
gpgkey={{ testgpgkey }}
enabled=0
enabled_metadata=1
skip_if_unavailable=1
