{% for repo in repos %}

[copr-{{ repo.name }}-{{ repo.user }}]
name=COPR {{ repo.name }} ({{ repo.user }}) repo
baseurl={{ repo.baseurl }}
gpgcheck={{ repo.gpgcheck }}
gpgkey={{ repo.gpgkey }}
enabled={{ repo.enabled }}
enabled_metadata=1
skip_if_unavailable=1

{% endfor %}
