# source this file to construct a standalone test Pbench Server pod with
# default parameters.
#
#  source ./deploy
export PB_CONTAINER_REG=images.paas.redhat.com
export PB_ORG_NAME=pbench
export PB_POD_NAME=test
export PB_DASHBOARD_DIR=~/dashboard
export PB_SERVER_IMAGE_TAG=main
export PB_SERVER_IMAGE_NAME=pbenchinacan-pbenchserver
export PB_SERVER_IMAGE_PULL_POLICY=Always
export PB_KEYCLOAK_IMAGE_TAG=latest
export PB_KEYCLOAK_IMAGE_NAME=pbenchinacan-keycloak
export PB_KEYCLOAK_IMAGE_PULL_POLICY=Always
export PB_ELASTICSEARCH_IMAGE_TAG=7.13.3
export PB_ELASTICSEARCH_IMAGE_NAME=elasticsearch
export PB_ELASTICSEARCH_IMAGE_PULL_POLICY=IfNotPresent
export PB_POSTGRESQL_IMAGE_TAG=latest
export PB_POSTGRESQL_IMAGE_NAME=postgresql-13
export PB_POSTGRESQL_IMAGE_PULL_POLICY=IfNotPresent
envsubst < pod.yml | podman play kube -
